
#![enable(implicit_some)]
(
 modkey: "Mod4",
 mousekey: "Mod4",
 workspaces: [],
 tags: [
 "1",
 "2",
 "3",
 "4",
 ],
 max_window_width: None,
 layouts: [ MainAndVertStack ],
 layout_mode: Tag,
 insert_behavior: Bottom,
 window_rules: [],
 disable_current_tag_swap: false,
 disable_tile_drag: false,
 disable_window_snap: true,
 focus_behaviour: Sloppy,
 focus_new_windows: true,
 single_window_border: true,
 sloppy_mouse_follows_focus: true,
 auto_derive_workspaces: true,
 keybind: [
   (command: Execute, value: "rofi -show run", modifier: ["modkey"], key: "d"),
   (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
   (command: Execute, value: "flameshot gui", modifier: ["modkey", "Shift"], key: "s"),
   (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
   (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
   (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
   (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
   (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
   (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
 ],
 state_path: None,
 )
